.layout {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar viewport";
  grid-template-columns: 230px 1fr;
  grid-template-rows: 34px 1fr;
  height: 100%;
}

.layout-viewport {
  grid-area: viewport;
  position: relative;
  min-width: 0;
  min-height: 0;
  background: var(--bg);
  overflow: hidden;
}
